body {
    margin: 0px;
    background-color: #2c2c2c !important ;
}

.bgRegister {
    background-image: url(./assets/bgRegister.jpg);
}

.nav-item .dropdown-toggle {
    color: #000;
}

.nav-item .dropdown-toggle {
    margin-right: 150px;
}

/* Modal Styles */

.error .modal-content {
    background-color: transparent;
}

.error .bg-warning {
    color: rgb(92, 67, 13);
    border-radius: 12px;
    background-color: #ffc107cd !important;
}

.RegisterModal .modal-content {
    background-color: #00000000 !important;
}

.RegisterModal .modal-body {
    border-radius: 8px;
    background-color: #363636;
    box-shadow: 10px 5px 5px #00000097;
}

.RegisterModal .modal-body h2 {
    margin-top: 5px;
    margin-bottom: 35px;
}

.bgModal .modal-content {
    border: none;
    background-color: transparent !important;
}

webview {
    height: 55vh;
}





