body {
    margin: 0px;
    background-color: #666 !important ;
}

/* Background da páginas Registro e Login! */
.sc-hKFxyN {
    background-image: url(./assets/bgRegister.jpg);
}

.sc-pNWdM {
    background-image: url(./assets/bgRegister.jpg)
}

/* Modal Styles */

.modal-content {
    background-color: rgba(0, 0, 0, 0) !important;
}

.modal-body {
    border-radius: 8px;
    background-color: #363636;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.591);
}

.modal-body h2 {
    margin-top: 5px;
    margin-bottom: 35px;
}


/* Multi Carousel Styles */

/* .MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; color:#ffffff;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(47% - 20px); }
.MultiCarousel .leftLst { left:10px; }
.MultiCarousel .rightLst { right:10px; }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { display: none;} */


